/* custom fonts */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=MuseoModerno&family=Source+Code+Pro&display=swap");

/* general styling */
:root {
	--accent: #b71c4a;
	--pri: #35b091;
	--sec: #002b3ace;
	--ter: #0c354262;
}
/* dark theme */
/*:root {
	--accent: #802;
	--pri: #625;
	--sec: #202;
	--ter: #b692;
}*/
/*
:root {
	--accent: #c44;
	--pri: #646;  548
	--sec: #002;
	--ter: #8791; ecf2
}*/
* {
	scrollbar-color: var(--accent) #0000;
	scroll-behavior: smooth;
	scrollbar-width: thin;
}
::-webkit-scrollbar, ::-webkit-scrollbar-track {background: #0000}
::-webkit-scrollbar-thumb {background: var(--ter)}
::-webkit-scrollbar-thumb:hover {background: var(--pri)}
::selection {color: var(--pri); background: var(--accent)}
body {
	background: url("/ass/bg/arches.webp") top / cover fixed, url("/ass/bg/waw.webp") repeat center / 200% fixed #420924;
	background-blend-mode: difference, darken;
	color: var(--pri);
	font-family: Comfortaa, Verdana;
	margin: 0;
	animation: show 0.5s ease-out;
}
h1 {
	background: var(--sec);
	color: var(--pri);
	font-size: 2em;
	margin: 1.5rem 0;
}
h2 {
	margin: 1rem 0;
}
hr {
	border: solid var(--ter);
	padding: 2px;
	border-width: 3px 8px;
}
p {
	text-align: justify;
	padding: 0.25rem;
}
img {
	width: clamp(1em, 16em, 100%);
	height: auto;
}
a {
	color: var(--accent);
	text-decoration-style: dashed;
	outline: #0000 double;
}
a:focus-visible, a:hover {
	text-decoration-style: solid;
}
pre {
	font: 1.5em monospace;
	margin: 1rem 0;
}
input[type=range] {
	accent-color: var(--accent);
	cursor: pointer;
}
code {
	font-family: monospace;
	padding: 0 6px;
	color: var(--pri);
	background: var(--sec);
}
a:focus-visible {
	outline-offset: 0.25rem;
}

/* elements and classes with the same rules (grouping them together saves up space MOST of the time) */
.pixelart, canvas {
	image-rendering: pixelated;
}
#img0bg, .card h2, .palette, .showcase, .showcase canvas, .nude, .tabl, h1, hr, img, code, p {
	border-radius: 0.5rem;
}
p, .tabl, .tabl b, h1, h2 {
	padding: 0.5rem;
}
#caption, .center, .color, .tag, h1, h2, .tabl * {
	text-align: center;
}
button, p {
	background: var(--ter);
}
.center, .img0, .modal, .smol, .content {
	margin-left: auto;
	margin-right: auto;
}
#close, .color {
	cursor: pointer;
}
#img0 {
	user-select: none;
}
.nude:focus-visible, a:focus-visible {
	outline: var(--accent) solid 0.25rem;
	transition: 0s;
}
h1, h2 {
	font-family: "MuseoModerno";
	mix-blend-mode: difference;
}
a, .neon, .nude {
	transition: 0.25s;
}

/* general classes */
div.base {
	margin: 0 auto;
	width: 75%;
	padding: 2rem 0;
	overflow: hidden;
}
.bordr {
	border: 0.5em solid var(--sec);
}
.center {
	display: block;
}
.neon {
	color: var(--pri);
	font-size: 2em;
	text-shadow: var(--pri) 0 0 6px;
	box-shadow: var(--pri) 0 0 8px;
	background: var(--sec);
	border: var(--pri) 0.15rem solid;
	text-decoration: none;
	text-orientation: upright;
	writing-mode: vertical-rl;
	padding: 0.5rem 0;
	border-radius: 1rem;
}
.neon:hover {
	text-shadow: 0 0 10px;
	box-shadow: 0 0 20px;
	transition: 0s;
}
.neon:active {
	text-shadow: 0 0 9px;
	box-shadow: 0 0 16px;
}
.smol, .content {
	width: clamp(35ch, 95%, 70ch);
}
.nude {
	background: var(--sec);
}
.nude img {
	opacity: 0;
	height: 100%;
	width: 100%;
}
.nude::after {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	content: "Nude";
	top: -50%;
	pointer-events: none;
}
.nude:hover {
	transition: 0s;
	background: #0000;
}
.nude:hover img {
	transition: 0s;
	opacity: 1;
}
.nude:hover::after {
	transition: 0s;
	opacity: 0;
}
.flex {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
	justify-content: space-around;
}
img.pixelart {
	width: round(nearest, attr(width px), 64px) !important;
	height: round(nearest, attr(height px), 64px) !important;
}

/* portfolio stuff */
.showcase {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.5rem;
}
.showcase img {
	outline: 0 double var(--accent);
	transition: .15s, opacity .5s;
	object-fit: cover;
	box-sizing: border-box;
}
.showcase img:focus, .showcase img:hover {
	outline: 0.5rem solid var(--accent);
	cursor: pointer;
	transition: 0s;
}
.showcase img:active {
	outline-offset: 0.5rem;
}
.viewport {
	height: auto;
	display: block;
}
.viewport canvas {
	width: 100%;
}
.showcase img, .viewport, .nude {
	flex: 0 0 calc(50% - 0.25rem);
}
#modal {
	display: none;
	z-index: 1;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	background: #011e;
	overflow: scroll;
	animation: show 0.5s;
}
#img0bg {
	height: 100%;
	animation: zoom 0.5s;
}
#img0 {
	height: 100%;
	width: auto;
	border-radius: 0;
	display: block;
}
#caption {
	font-size: 1.5em;
	color: var(--accent);
	margin: 0;
	text-shadow: var(--pri) 0 3px;
	border-radius: 0 0 0.5em 0.5em;
	animation: show 1s ease-in;
}
#caption a {
	text-shadow: var(--pri) 0 3px;
}
@keyframes zoom {
	0% {transform: scale(0.6)}
	to {transform: scale(1)}
}
@keyframes show {
	0% {opacity: 0}
	to {opacity: 1}
}
@keyframes hide {
	0% {opacity: 1}
	to {opacity: 0}
}

/* tools stuff */
.palette {
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	max-width: 32em;
}
.color {
	width: 4em;
	height: 4em;
	flex: 1 0 auto;
	border: 0 solid;
	box-sizing: border-box;
	transition: 0.1s;
	background: var(--sec);
}
.color:focus, .color:hover {
	border-width: 0.25em 0;
}
.color:active {
	border-width: 0.5em 0;
}
.color:focus-visible {
	outline: 0;
}
.tabl {
	background: var(--ter);
	display: flex;
	justify-content: space-evenly;
	align-content: space-between;
	flex-wrap: wrap;
}
.tabl * {
	flex: 1 30%;
}
.tabl b {
	background: var(--ter);
	display: block;
	border: solid var(--pri);
	border-width: 0.25em 0;
}
.tag {
	display: inline-block;
	background: var(--sec);
	color: var(--pri);
	font-size: 1.25em;
	padding: 0.25em 0.25em 0;
	border-radius: 0.5em 0.5em 0 0;
	margin-left: 50%;
	transform: translateX(-50%);
}
.tag img {
	height: 16px;
	width: auto;
}
.tag img:active {
	outline-offset: 0;
}

/* blog stuff */
div.card {
	background: var(--ter);
	padding: 0.5rem;
	margin: 1em 0 0;
}
.card p {
	margin: 0.5em 0;
}
.card img {
	width: 8em;
	height: auto;
}

/* mobile support */
@media(orientation:portrait) {
	.showcase > img, .viewport {flex: 100%}
	#img0bg, div.base, #img0 {width: 100%; height: auto}
	#img0bg {margin: auto 0} 
	.tabl * {flex: 1 100%}
}
